<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Зарегистрируйтесь</h1>
<a href="/login/">Войдите</a>

<form action="/api/v1/rest-auth/registration/" method="post">
    <p style="color: red">{{ message }}</p>
    {% csrf_token %}
  <div class="form-group">
      <h3>Заполните все поля для входа в систему</h3>
    <label for="exampleInputEmail1">Адрес электронной почты</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="example" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Пароль</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password1" placeholder="*********" required>
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Повторите пароль</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password2" placeholder="*********" required>
  </div>
  <button type="submit" class="btn btn-primary">Войти</button>
</form>

</body>
</html>